    #bubble {
        background-color: white;
        visibility: hidden;
        opacity: 1;
        width: 100%;
        height: 100%;
    }

     .bubbles {
        opacity: 1;
    }

    .bubbles:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    #testdiv{
        display: inline-block;
        box-sizing: border-box;
        z-index: 5;
        width: 100%;
        height: 50%;
        border: 3px solid grey;
        bottom:0;
    }
