.results {
    position: absolute;
    visibility: hidden;
    margin: 2%;
    width: 90%;
    height: 90%;
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-width: 6px;
    z-index: 4;
    opacity: 0.9;
}
.hide {
    visibility: hidden;
}