.pie {
    width: 100%;
    height: 100%;
    background-color: white;
    visibility: hidden;
    opacity: 1;
}

.piepath:hover{
    opacity: 0.5;
}

#pieContainer{
    display: inline-block;
    box-sizing: border-box;
    z-index: 5;
    width: 100%;
    height: 50%;
    border: 3px solid grey;
}

@media (min-width: 768px) {
    #pieContainer {
        width: 50%;
    }
}
